.notepad-img{
    width : 50px;
    height : 50px;
    margin-top : 15px;
}

#to-do-input{
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(3px);
    padding : 12px 75px 12px 12px;
    border-radius : 15px 0px 0px 15px;
    border : none;
    outline: none;
}

#to-do-input::placeholder {
    color: black; /* Same solid color as your title */
    opacity: 0.7;     /* Removes the default browser transparency */
}

.Top-text{
    color: #FFF8E7;
    font-weight: 700;
    letter-spacing: -1px; /* Tighter spacing looks more modern/editorial */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 
                 0px 0px 20px rgba(0, 0, 0, 0.3);
    display : flex;
    gap : 15px;
    margin-left: 40px;
}

.search-bar{
    display: flex;
}

#search-bar-button{
    position : absolute;
    left : 350px;
    padding: 12px;
    padding-left : 15px;
    padding-right : 15px;
    border-radius: 15px;
    border : none;
    cursor : pointer;
    background-color: rgba(224, 122, 95, 1); /* Let's try the vibrant coral! */
    color: white;

}

.clear-btn {
    font-size: 24px;
    position : absolute;
    left : 450px;
    cursor : pointer;
}

#to-check{
    cursor : pointer;
    transform: scale(2); /* Doubles the size (1.5 for medium, 2.5 for huge) */
    margin: 10px;        /* Add margin so it doesn't overlap text */
}

.Task-text{
    color: #E0E0E0; 
    font-weight: 600;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;            /* Standard readable size for list items */
    letter-spacing: 0.5px;      /* Slight spacing makes it look cleaner */

}

#complete-text{
    color : black;
    text-decoration: line-through;
}

.container{
    margin-bottom: 350px;
    color: white; 
    border: none;
    border-radius : 20px;
    padding : 0px 140px 100px 120px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(3px);
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  padding-top: 50px;

  font-family: 'Segoe UI', sans-serif;
  color : white;

  background-image: url("pexels-rok-romih-1746122-3848158.jpg");
  background-size: cover;      /* Makes image fill entire screen */
  background-position: center; /* Keeps image centered */
  background-repeat: no-repeat;/* Prevents repeating */

  background-attachment: fixed;
}

.task-container{
    position : relative;
    margin-top:20px;
    right: 100px;
}

