.notepad-img{
    width : 50px;
    height : 50px;
    margin-top : 15px;
}

#to-do-input{
    padding : 12px 75px 12px 12px;
    border-radius : 15px 0px 0px 15px;
    border : none;
    outline: none;
}

.Top-text{
    display : flex;
    gap : 15px;
    margin-left: 35px;
}

.search-bar{
    display: flex;
}

#search-bar-button{
    position : absolute;
    left : 720px;
    padding: 12px;
    padding-left : 15px;
    padding-right : 15px;
    border-radius: 15px;
    border : none;
    cursor : pointer;
    background-color: #ff5e57; /* Let's try the vibrant coral! */
    color: white;

}

.clear-btn {
    font-size: 24px;
    position : absolute;
    left : 450px;
    cursor : pointer;
}

#to-check{
    cursor : pointer;
    transform: scale(2); /* Doubles the size (1.5 for medium, 2.5 for huge) */
    margin: 10px;        /* Add margin so it doesn't overlap text */
}

.Task-text{
    margin-left: 10px;
    font-weight: 500;
}

#complete-text{
    color : #555;
    text-decoration: line-through;
}

.container{
    margin-bottom: 350px;
    background-color: rgba(30, 41, 59, 0.7); 
    background: linear-gradient(135deg, #00d2ff 0%, #3a7bd5 100%);
    color: white; 
    /* A bright blue shadow to make it "glow" */
    box-shadow: 0 15px 35px rgba(0, 210, 255, 0.3);
    border: none;
    border-radius : 20px;
    padding : 0px 180px 100px 150px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Deep Blue to Darker Navy */
  background: linear-gradient(135deg, #1e293b 0%, #0f172a 100%);
  font-family: 'Segoe UI', sans-serif;
  color : white;
}

.task-container{
    position : relative;
    margin-top:20px;
    right: 100px;
}

